<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Profile here</h1>
    <div class="user-profile">
  <h2>User Profile</h2>
  <p><strong>Role:</strong> {{ user.profile.role }}</p>
  <p><strong>Company:</strong> {{ user.profile.company }}</p>
  <p><strong>LinkedIn:</strong> 
    <a href="{{ user.profile.linkedin_url }}" target="_blank" rel="noopener noreferrer">
      {{ user.profile.linkedin_url }}
    </a>
  </p>
  <p><strong>Nationality:</strong> {{ user.profile.nationality }}</p>
</div>




</body>
</html>