<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    actual email body sent to the user with link to reset their email
    <div>
        You're receiving this email because you requested a password reset.

Click the link below to set a new password:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If you didn’t request this, ignore this email.

    </div>
</body>
</html>